<div class="titleB">Edit Post</div>

<br/>
<%= error_messages_for :shared_object %>

<% form_for(:shared_object, @shareable, :url=> member_update_shared_object_path(@shareable.id),:html => { :method => :put }) do |f| %>
	<fieldset>
		<%= render :partial => 'common_form', :locals => {:f => f}%>
	</fieldset>
	<div style="margin:20px 0 0 0">
		<%= submit_tag 'Save This', :class => 'button mainaction' %> <%= submit_tag 'Cancel', :class => 'button mainaction' %>
	</div>
<% end %>